# Local Database (If using local Postgres)
# DATABASE_URL=postgresql://postgres:password@localhost:5432/kitchensync

# Authentication (Auth0)
AUTH0_AUDIENCE=https://kitchensync-api
AUTH0_DOMAIN=dev-l1ng8v1sokmpx77k.us.auth0.com

# Stripe (Replace with actual test/live keys)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
